pre.cscode {
    margin:0em;
    overflow:auto;
    background-color:#ffffff;
    padding: 0;
    line-height: 120%;
    font-family: monospace;
    font-size:11pt;
    color:#000000;
}
.cscode .key {color:#000088;}
.cscode .com {color:#777777; font-size: 9pt;}
.cscode .str {color:#a31515;}